<html>
<head>
    <meta charset="utf-8">
</head>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>


<div ng-app="employeeApp" ng-controller="employeeCtrl">

    <table class = "table table-striped">
        <tr>
            <th><button class="btn btn-info" ng-click="redirectAdd()">Додати</button></th>
            <th>Ім'я</th>
            <th>Прізвище</th>
            <th>Телефон</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="data in employees">
            <td>{{data.id}}</td>
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.phone}}</td>
            <td><button class="btn btn-info" ng-click="redirectEdit(data.id)">Редагувати</button></td>
            <td><button class="btn btn-danger" ng-click="redirectDelete(data.id)">Видалити</button></td>
        </tr>
    </table>

</div>

<script>
var app = angular.module('employeeApp', []);
app.controller('employeeCtrl', function($scope, $http) {
    $http.get("/api/employees")
        .then(function(response) {
        $scope.employees = response.data;
    });
    $scope.redirectEdit = function (id){
        window.location = "/employee-edit?id="+id;
    }
    $scope.redirectAdd = function (){
        window.location = "/employeeAdd.html";
    }
    $scope.redirectDelete = function (id){
        $http.delete("/api/employees/"+id);
        window.location = "/employees.html";
    }
});
</script>
</body>
</html>
