<html>
<head>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="pupilApp" ng-controller="pupilCtrl">
    <table class="table table-striped">
        <tr>
            <td>Ім'я</td>
            <td>
                <label type="text" id="firstName">
                    <h3>{{pupil.firstName}}</h3>
                </label>
            </td>
        </tr>
        <tr>
            <td>Прізвище</td>
            <td>
                <label type="text" id="lastName">
                    <h3>{{pupil.lastName}}</h3>
                </label>
            </td>
        </tr>
        <tr>
            <td>Оцінки</td>
            <td>
                <button class="btn btn-success" ng-disabled="{{pageNumber === 1 ? true : false}}" ng-click="redirectPageLeft(pageNumber, pageSize)"><</button>
                <b>Сторінка {{pageNumber}}</b>
                <button class="btn btn-success" ng-click="redirectPageRight(pageNumber, pageSize)">></button>
                <table class="table table-striped">
                    <tr>
                        <td>Дата</td>
                        <td>Урок</td>
                        <td>Оцінка</td>
                    </tr>
                    <tr ng-repeat="data in marks">
                        <td>{{data.date}}</td>
                        <td>{{data.lesson.name}}</td>
                        <td>{{data.grade}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<script>
    var id = location.search.split('=')[1].split('&')[0];
    var page = location.search.split('=')[2].split('&')[0];
    var size = location.search.split('=')[3];
    var app = angular.module('pupilApp', []);

    app.controller('pupilCtrl', function($scope, $http) {
        $http.get("/api/pupils/"+id)
            .then(function(response) {
        $scope.pupil = response.data;
        })

        $scope.pageNumber = parseInt(page)+1;
        $scope.pageSize = size;
        $http.get("/api/diary/"+id+"?page=" + page + "&size=" + size)
            .then(function(response) {
            $scope.marks = response.data;
        })
        $scope.redirectPageRight = function (pageNumber, pageSize){
            window.location = "/marks?id="+id+"&page=" + pageNumber + "&size=" + pageSize;
        }
        $scope.redirectPageLeft = function (pageNumber, pageSize){
            pageNumber = pageNumber - 2;
            window.location = "/marks?id="+id+"&page=" + pageNumber + "&size=" + pageSize;
        }
    });
</script>

</body>
</html>
