<html>
<head>
    <meta charset="utf-8">
</head>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<!--<header><a href="/" class="btn btn-warning">Головна</a></header>-->
<div align="center" ng-app="schoolApp" ng-controller="schoolCtrl">

    <table class = "table table-striped">
        <tr>
            <th><button class="btn btn-info" ng-click="redirectAdd()">Додати</button></th>
            <th>Назва</th>
            <th>Директор</th>
            <th>Телефон</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="data in schools">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.director.firstName}} {{data.director.lastName}}</td>
            <td>{{data.phone}}</td>
            <td><button class="btn btn-info" ng-click="redirectEdit(data.id)">Редагувати</button></td>
            <td><button class="btn btn-danger" ng-click="redirectDelete(data.id)">Видалити</button></td>
        </tr>
    </table>

</div>

<script>
var app = angular.module('schoolApp', []);
app.controller('schoolCtrl', function($scope, $http) {
    $http.get("/api/schools")
    .then(function(response) {
        $scope.schools = response.data;
    })
    $scope.redirectEdit = function (id){
        window.location = "/school-edit?id="+id;
    }
    $scope.redirectAdd = function (){
        window.location = "/schoolAdd.html";
    }
    $scope.redirectDelete = function (id){
        $http.delete("/api/schools/"+id);
        window.location = "/schools.html";
    }
});

</script>
</body>
</html>
